<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="https://r3wired.blogspot.in">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<span>
					<a href="https://github.com/vijaykrishnavanshi">
						<i class="fa fa-github" style="font-size:36px"></i>
					</a>
					<a href="https://twitter.com/vkrishnavanshi">
						<i class="fa fa-twitter" style="font-size:36px"></i>
					</a>
					<a href="https://www.linkedin.com/in/vijaykrishnavanshi">
						<i class="fa fa-linkedin" style="font-size:36px"></i>
					</a>
					<a href="https://www.linkedin.com/in/vijaykrishnavanshi">
						<i class="fa fa-google-plus" style="font-size:36px"></i>
					</a>
				</span>
			</footer>
			<style>
				.size {
					width: 20px;
					height: 20px;
				}
			</style>
		</body>
	</html>
